* {
  background-color: #7cfc00;
}

#car {
  width: 200px;
  height: 100px;
  position: absolute;
}

.north {
  transform: rotate(270deg);
}

.south {
  transform: rotate(90deg);
}

.west {
  transform: rotate(180deg);
}

.east {
  transform: rotate(0deg);
}
